body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.auth-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.auth-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-size: 1rem;
}

.auth-buttons {
    display: flex;
    justify-content: space-between;
}

.auth-button {
    background-color: #6200ea;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    width: 48%;
}

.auth-button:hover {
    background-color: #3700b3;
}

.auth-error {
    margin-top: 1rem;
    color: #cf6679;
}
